.cart {
  display: flex;
  flex-direction: column;
  width: 480px;
  background-color: white;
  padding: 5px 20px;
  border-radius: 5px;
  .emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
    gap: 20px;
    h2 {
      font-weight: 700;
      color: rgba(255, 44, 84, 0.8);
    }

    button {
      padding: 10px 50px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: #4895ef;
      cursor: pointer;
      color: #fff;
      font-size: 15px;
      transition: all 0.5s;
      margin-top: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .cart-items {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    overflow-y: auto;
    max-height: 400px;

    .cartItem {
      display: flex;
      gap: 20px;
      .cartItem_img_wrapper {
        flex: 1;
        .cartItem_img {
          width: 100%;
          object-fit: cover;
        }
      }

      .cartItem_info {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .cartItem_title {
          font-size: 20px;
          font-weight: 600;
        }
        .cartItem_price {
          display: flex;
          .price_sale {
            color: crimson;
          }

          .price {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .cartItem_quan {
          font-size: 15px;
        }
        .cartItem_color {
          font-size: 15px;
        }
        .cartItem_size {
          font-size: 15px;
        }
      }
    }
  }

  .sub-price {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    .sub_price_sale {
      color: crimson;
    }

    .sub-price-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .price {
    flex: 1;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
  }

  .action_wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    .actions {
      margin-top: 30px;
      width: 100%;
      .btnPayment {
        width: 100%;
        background-color: black;
        color: white;
        padding: 12px 0;
        margin-bottom: 10px;
        font-weight: bold;
        transition: all 0.3s ease;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      .btnCart {
        width: 100%;
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 12px 0;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
